apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-projet01
  labels:
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
      tier: backend
  template:
    metadata:
      labels:
        app: nginx
        tier: backend


    spec:
      volumes:
      - name: dir
        flexVolume:
          driver: "fstab/cifs"
          fsType: "cifs"
          secretRef:
            name: "cifs-secret-dev"
          options:
            networkPath: "//nas.egc.local/dev/projet01"
            mountOptions: "dir_mode=0755,file_mode=0644,noperm"

      - name: config
        configMap:
          name: nginx-config
          items:
          - key: config
            path: site.conf

      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
        volumeMounts:
        - name: dir
          mountPath: /dir
        - name: config
          mountPath: /etc/nginx/conf.d